Flask==3.0.3
gunicorn==22.0.0
python-dotenv==1.0.1
requests==2.32.3
google-api-python-client==2.133.0
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
pillow==10.3.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
pytz==2024.1
